@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.card {
    background-color: yellowgreen;

}

body {
    background-color: orange;
}

h1 {
    color: orangered;
    margin-left: 20px;
}
