@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/*Standard page body*/
body {
    background-color: #d0d3d4 ;
    font-family: Arial, sans-serif;
}

.test-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Standard page headers*/
h1 {
    color: blue;
    font-size: large;
    background-color: lightblue;
    text-align: left;
}

p {
    color: lightblue;
    font-size: 48px;
    line-height: 1.5;
}

.card {
    background-color: #f0f3f4;
}

.collapse {
    visibility: visible;
}

/*Collapsible Panels*/
.panel-body {
    visibility: visible;
}

.btn {
    /*background-color: #d0d3d4;*/
    background-color: pink;
    color: dimgrey;
    margin-top: 5;
    margin-bottom: 5;
    height: 38px;
    width: 50%;
    border-width: 3;
}

table, tbody, tr, th, td {
    background-color: rgba(0, 0, 0, 0.0) !important;
}

table {
    border-width: 5;
    border: #ff61f7;
}

.form-control {
    background-color: whitesmoke;
}

th, td {
    background-color: transparent;
}
