@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/*https://www.w3schools.com/colors/colors_palettes.asp, "Rustic Palettes"*/
/*HEX: #e0e2e4 - light gray*/
/*HEX: #c6bcb6 - light brown*/
/*HEX: #96897f - med brown*/
/*HEX: #625750 - dark brown*/

/*////////////DEFAULT VARIABLES/////////////*/
/*This sets the color theme default colors, which can then be
assigned to multiple classes of objects below*/
:root {
    /*--default-background-color: #d6dbdf;*/
    /*--default-button-color: whitesmoke;*/
    /*--default-button-background-color: darkgray;*/
    /*--default-navtree-background-color: pink ;*/

    /*--default-background-color: #e0e2e4;*/
    /*--default-button-color: #e0e2e4;*/
    /*--default-button-background-color: #625750;*/
    /*--default-navtree-background-color: #e0e2e4 ;*/

    --default-background-color: whitesmoke;
    --default-button-color: darkslategray;
    --default-button-background-color: gainsboro;
    --default-navtree-background-color: gainsboro ;
    --default-header-text-color: darkgray ;
    --default-title-text-color:  redorange;
    --default-normal-text-color: orangered ;


}

/*//////////////CONTAINERS//////////////*/
.container-fluid{
    padding: 0;
}

.test-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: darkgray;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*/////////////// TYPICAL HTML COMPONENTS ////////////////*/
/*Standard page body*/
body {
    /*background-color: #d0d3d4 ;*/
    background-color: var(--default-background-color);
    font-family: Arial, sans-serif;
}

/*Standard page headers*/
h1 {
    color: var(--default-header-text-color);
    font-size: large;
    background-color: var(--default-background-color);
    text-align: left;
}

p {
    color: var(--default-title-text-color);
    font-size: 20px;
    line-height: 1.5;
}

.text-input-box {
    /*background-color: var(--default-background-color);*/
    /*background-color: orange;*/
    height: 22px;
    margin: 1px;
    border-color: #888888;
    color: var(--default-normal-text-color);
}


/*///////////// COLLAPSIBLE SECTIONS //////////////*/
.card {
    background-color: var(--default-background-color);
    color:  var(--default-normal-text-color);
}

.collapse {
    visibility: visible;
}

/*Collapsible Panels*/
.panel-body {
    visibility: visible;
    color:  var(--default-normal-text-color);
}

/*///////////// MISC COMPONENTS ///////////////*/
.btn {
    background-color: var(--default-button-background-color);  /*button main color*/
    color: var(--default-button-color); /*button text color*/
    margin-top: 0;
    margin-bottom: 5px;
    height: 38px;
    width: 50%;
    border-width: 3px;
}

/*////////// TABLES /////////////*/
.table {
    border: 2px solid;
    border-spacing: 10px;
    width:100%;
    outline: magenta 80px;
    color:  var(--default-normal-text-color);
}
table, tbody, tr, th, td {
    background-color: rgba(0, 0, 0, 0.0) !important;
    color:  var(--default-normal-text-color);
}
td {
    height: 22px;
}

/*////////// ONE OFF OBJECTS /////////////*/
#datanavbar{
    background-color: var(--default-navtree-background-color);
    min-width: 400px;
}



